<?xml version="1.0"?>
<launch>
    <arg name="pi" value="3.14159265359" />
    <arg name="pi/2" value="1.57079632679" />
    <arg name="base_link_name" default="base_link"/>
    <arg name="viz" default="false"/>

    <include file="$(find launch)/src/sublaunch/radar.launch">
        <arg name="radar_ns"            value="radar1"/>
        <arg name="parent_link_name"    value="radar_pos2"/>
        <arg name="command_port_number" value="2"/>
        <arg name="data_port_number"    value="3"/>
    </include>
</launch>