<?xml version="1.0"?>
<launch>

    <arg name="merge_ns"            default="merge"/>
    <arg name="parent_link_name"    default="base"/>
    <arg name="scan_topics"         
    default="/radar0/flatten/scan /radar1/flatten/scan /lidar/flatten/scan" />
    <arg name="cloud_name"          default="PointCloud"/>    
    <arg name="scan_time"           default="0.05"/>
    <arg name="range_min"           default="0.05"/>
    <arg name="range_max"           default="120"/> 
    <arg name="min_height"          default="0"/>
    <arg name="max_height"          default="2"/>   
    <arg name="use_inf"             default="true"/>
    <arg name="transform_tolerance" default="0.01"/>

    <group ns="$(arg merge_ns)">
        <node pkg="ira_laser_tools" type="laserscan_multi_merger" name="scan_merger">
            <param name="destination_frame"         value="$(arg parent_link_name)"/>
            <param name="laserscan_topics"          value="$(arg scan_topics)"/>
            <param name="scan_time"                 value="$(arg scan_time)"/>
            <param name="range_min"                 value="$(arg range_min)"/>
            <param name="range_max"                 value="$(arg range_max)"/>
            <param name="cloud_destination_topic"   
                   value="/$(arg merge_ns)/$(arg cloud_name)"/>
            <!--<param name="angle_increment" value="0.00872664625"/>-->
        </node>

        <include file="$(dirname)/flatten.launch">         
            <arg name="input_PointCloud"    
                 value="/$(arg merge_ns)/$(arg cloud_name)"/>
            <arg name="device_frame"        value="$(arg parent_link_name)"/>
            <arg name="min_height"          value="$(arg min_height)"/>
            <arg name="max_height"          value="$(arg max_height)"/>
            <arg name="range_min"           value="$(arg range_min)"/>
            <arg name="range_max"           value="(arg range_max)"/>
            <arg name="scan_time"           value="(arg scan_time)"/>
            <arg name="use_inf"             value="(arg use_inf)"/>
            <arg name="transform_tolerance" value="(arg transform_tolerance)"/>
        </include>
    </group>
</launch>
