<launch>

    <arg name="LiDAR_IP" default="169.254.171.185"/>
    <arg name="LiDAR_ns" default="LiDAR"/>
    <arg name="LiDAR_tf_name" default="LiDAR_tf"/>
   
   
    <arg name="tf_tree" default="true"/>
    <arg name="rviz_show" default="true"/>
    <arg name="base_link_name" default="base"/>

    <arg name="radar0_name" default="radar0"/>
    <arg name="radar1_name" default="radar1"/>
    
    <arg name="pi" value="3.14159265359" />
    
        <group ns="$(arg radar1_name)">  
        <include file="$(dirname)/radar.launch">
            <arg name="device_name" value="$(arg radar1_name)"/>
            <arg name="command_port" value="/dev/ttyACM2"/>
            <arg name="data_port" value="/dev/ttyACM3"/>
            <arg name="viz" value="false"/>                      
        </include>

        <node pkg="tf2_ros" type="static_transform_publisher" name="base_$(arg radar1_name)_link"
            args="-0.32 0 0 $(arg pi) 0 0 $(arg base_link_name) $(arg radar1_name)_pcl"/>            
    </group>
    
    <group ns="$(arg radar0_name)">        
        <include file="$(dirname)/radar.launch">
            <arg name="device_name" value="$(arg radar0_name)"/>
            <arg name="command_port" value="/dev/ttyACM0"/>
            <arg name="data_port" value="/dev/ttyACM1"/>
            <arg name="viz" value="false"/>                      
        </include>

        <node pkg="tf2_ros" type="static_transform_publisher" name="base_$(arg radar0_name)_link"
            args="-0.32 0 0 $(arg pi) 0 0 $(arg base_link_name) $(arg radar0_name)_pcl"/>            
    </group> 
    

 

    <include file="$(find ouster_ros)/launch/sensor.launch">
        <arg name="lidar_mode" value="512x10"/>
        <arg name="sensor_hostname" value="$(arg LiDAR_IP)"/>
        <arg name="ouster_ns" value="$(arg LiDAR_ns)"/>
        <arg name="viz" value="false"/>
        <arg name="tf_prefix" value="$(arg LiDAR_tf_name)"/>       
    </include>
    



    <!--Tf for LiDAR -->
    <node pkg="tf2_ros" type="static_transform_publisher" name="base_LiDAR_link"
        args="0 0 0.4 0 0 0 $(arg base_link_name) $(arg LiDAR_tf_name)/os_sensor"/>

    <node if="$(arg rviz_show)" 
        pkg="rviz" type="rviz" name="rviz_open" args="-d $(dirname)/rviz/rviz1.rviz"/>

</launch>

<!--http://wiki.ros.org/roslaunch/XML-->
<!--https://jokane.net/agitr/agitr-small-launch.pdf-->
