<?xml version="1.0"?>
<launch>
    <arg name="pi" value="3.14159265359" />
    <arg name="pi/2" value="1.57079632679" />
    <arg name="base_link_name" default="base_link"/>
    <arg name="viz" default="false"/>
    <remap from="/merge/flatten/scan" to="/scan"/>

    <group if="$(arg viz)">
        <include file="$(find launch)/src/sublaunch/viz.launch">
        </include>
    </group>

    <include file="$(find launch)/src/sublaunch/mount.launch">
        <arg name="radar_pos0"          value="radar_pos0"/>
        <arg name="radar_pos1"          value="radar_pos1"/>    
        <arg name="radar_pos2"          value="radar_pos2"/>
        <arg name="pos"                 value="0 0 0 $(arg pi/2) 0 0"/>
        <arg name="parent_link_name"    value="$(arg base_link_name)"/>        
    </include>

    <include file="$(find launch)/src/sublaunch/radar.launch">
        <arg name="radar_ns"            value="radar0"/>
        <arg name="parent_link_name"    value="radar_pos1"/>
        <arg name="command_port_number" value="0"/>
        <arg name="data_port_number"    value="1"/>
    </include>
    
    <include file="$(find launch)/src/sublaunch/lidar.launch">
        <arg name="pos" value="0.0735 0 0.620 $(arg pi) 0 0"/>
        <arg name="parent_link_name"    value="$(arg base_link_name)"/>  
        
    </include>

    <include file="$(find launch)/src/sublaunch/merge.launch">
        <arg name="parent_link_name"    value="$(arg base_link_name)"/>  
    </include>


</launch>