<?xml version="1.0"?>
<launch>
    <node name="rqt_gui" pkg="rqt_gui" type="rqt_gui"/>

    <node pkg="rviz" type="rviz" name="rviz_open" args="-d $(dirname)/src/rviz/rviz3.rviz"/>
    
        <include file="$(find launch)/src/sublaunch/mount.launch">
        <arg name="radar_pos0"          value="radar_pos0"/>
        <arg name="radar_pos1"          value="radar_pos1"/>    
        <arg name="radar_pos2"          value="radar_pos2"/>    
    </include>

    <include file="$(find launch)/src/sublaunch/radar.launch">
        <arg name="radar_ns"            value="radar0"/>
        <arg name="parent_link_name"    value="radar_pos1"/>
        <arg name="command_port_number" value="0"/>
        <arg name="data_port_number"    value="1"/>
    </include>

    <include file="$(find launch)/src/sublaunch/radar.launch">
        <arg name="radar_ns"            value="radar1"/>
        <arg name="parent_link_name"    value="radar_pos2"/>
        <arg name="command_port_number" value="2"/>
        <arg name="data_port_number"    value="3"/>
    </include>




</launch>