<launch>

    <arg name="LiDAR_IP" default="169.254.171.185"/>
    <arg name="LiDAR_ns" default="LiDAR"/>
    <arg name="LiDAR_tf_name" default="LiDAR_tf"/>
   
   
    <arg name="tf_tree" default="true"/>
    <arg name="rviz_show" default="true"/>
    
    <arg name="base_link_name" default="base"/>

    <arg name="radar0_name" default="radar0"/>
    <arg name="radar1_name" default="radar1"/>
    <arg name="radar_scan_time" default="0.1"/>
    
    
    <arg name="pi" value="3.14159265359" />
  
    
    <group ns="$(arg radar1_name)"> 
	    <remap from="/ti_mmwave/radar_scan_pcl" to="/$(arg radar1_name)/$(arg radar1_name)_scan_pcl"/>
        <!--<remap from="/ti_mmwave/radar_scan_pcl" to="/$(arg radar1_name)/cloud_in"/> -->
        <!--<remap from="/$(arg radar1_name)_scan_pcl" to="/cloud_in"/> -->
        <include file="$(dirname)/radar.launch">
            <arg name="device_name" value="$(arg radar1_name)"/>
            <arg name="command_port" value="/dev/ttyACM2"/>
            <arg name="data_port" value="/dev/ttyACM3"/>
            <arg name="viz" value="false"/>                      
        </include>

        <node pkg="tf2_ros" type="static_transform_publisher" name="base_$(arg radar1_name)_link"
            args="-0.32 -0.0815 0 $(arg pi) 0 0 $(arg base_link_name) $(arg radar1_name)_pcl"/>     
            
        
    
        <remap from="cloud_in" to="/$(arg radar1_name)/$(arg radar1_name)_scan_pcl"/>
    
        <node pkg="pointcloud_to_laserscan" type="pointcloud_to_laserscan_node" name="$(arg radar1_name)_scan_node">
            <param name="min_height" value="-1.0"/>
            <param name="max_height" value="1.0"/>
            <param name="scan_time" value="$(arg radar_scan_time)"/>
            <param name="use_inf" value="true"/>
            <param name="target_frame" value="$(arg base_link_name)"/>
            <param name="range_min" value="0"/>
            <param name="range_max" value="9"/>
            <param name="transform_tolerance" value="0.01"/>

        </node>

    </group>
    
    <group ns="$(arg radar0_name)">        
	    <remap from="/ti_mmwave/radar_scan_pcl" to="/$(arg radar0_name)/$(arg radar0_name)_scan_pcl"/> 
        <include file="$(dirname)/radar.launch">
            <arg name="device_name" value="$(arg radar0_name)"/>
            <arg name="command_port" value="/dev/ttyACM0"/>
            <arg name="data_port" value="/dev/ttyACM1"/>
            <arg name="viz" value="false"/>                      
        </include>

        <node pkg="tf2_ros" type="static_transform_publisher" name="base_$(arg radar0_name)_link"
            args="-0.32 0.0815 0 $(arg pi) 0 0 $(arg base_link_name) $(arg radar0_name)_pcl"/>      
        
        <remap from="cloud_in" to="/$(arg radar0_name)/$(arg radar0_name)_scan_pcl"/>
        
        <node pkg="pointcloud_to_laserscan" type="pointcloud_to_laserscan_node" name="$(arg radar0_name)_scan_node">
                <param name="min_height" value="-1.0"/>
                <param name="max_height" value="1.0"/>
                <param name="scan_time" value="$(arg radar_scan_time)"/>
                <param name="use_inf" value="true"/>
                <param name="target_frame" value="$(arg base_link_name)"/>
                <param name="range_min" value="0"/>
                <param name="range_max" value="9"/>
                <param name="transform_tolerance" value="0.01"/>

        </node>
    </group> 
    
    <group ns="LiDAR">
        <include file="$(find ouster_ros)/launch/sensor.launch">
            <arg name="lidar_mode" value="512x10"/>
            <arg name="sensor_hostname" value="$(arg LiDAR_IP)"/>
            <arg name="ouster_ns" value="$(arg LiDAR_ns)"/>
            <arg name="viz" value="false"/>
            <arg name="tf_prefix" value="$(arg LiDAR_tf_name)"/>       
        </include>

        <remap from="cloud_in" to="/LiDAR/LiDAR/points"/>
        
        <node pkg="pointcloud_to_laserscan" type="pointcloud_to_laserscan_node" name="LiDAR_scan_node">
            <param name="min_height" value="-10.0"/>
            <param name="max_height" value="10.0"/>
            <param name="scan_time" value="$(arg radar_scan_time)"/>
            <param name="use_inf" value="true"/>
            <param name="target_frame" value="$(arg base_link_name)"/>
            <param name="range_min" value="0.8"/>
            <param name="range_max" value="120"/>
            <param name="transform_tolerance" value="0.01"/>
        </node>

         <node pkg="tf2_ros" type="static_transform_publisher" name="base_LiDAR_link"
            args="0 0 0.4 0 0 0 $(arg base_link_name) $(arg LiDAR_tf_name)/os_sensor"/>
    </group>
    

    <group ns="merge">
        
        
        
        
        <node pkg="ira_laser_tools" type="laserscan_multi_merger" name="scan_merger">
            <param name="destination_frame" value="$(arg base_link_name)"/>
            <param name="laserscan_topics" value="/$(arg radar0_name)/scan /$(arg radar1_name)/scan /LiDAR/scan"/>
            <param name="scan_time" value="0.05"/>
            <param name="range_min" value="0"/>
            <param name="range_max" value="9.0"/>
            <param name="cloud_destination_topic" value="/merge/cloud"/>
            <!--<param name="angle_increment" value="0.00872664625"/>-->
        </node>
    

        <remap from="cloud_in" to="/merge/cloud"/>
        
        <node pkg="pointcloud_to_laserscan" type="pointcloud_to_laserscan_node" name="scan_node">
                <param name="min_height" value="-1.0"/>
                <param name="max_height" value="1.0"/>
                <param name="scan_time" value="$(arg radar_scan_time)"/>
                <param name="use_inf" value="true"/>
                <param name="target_frame" value="$(arg base_link_name)"/>
                <param name="range_min" value="0"/>
                <param name="range_max" value="9"/>
                <param name="transform_tolerance" value="0.01"/>


        </node>


    </group>
  
    <node if="$(arg rviz_show)" 
        pkg="rviz" type="rviz" name="rviz_open" args="-d $(dirname)/rviz/rviz1.rviz"/>

    <node name="rqt_gui" pkg="rqt_gui" type="rqt_gui"/>    

</launch>

<!--http://wiki.ros.org/roslaunch/XML-->
<!--https://jokane.net/agitr/agitr-small-launch.pdf-->
