<?xml version="1.0"?>
<launch>
    <arg name="mount_ns" default="mount"/>
    
    <arg name="urdf_file" default="$(dirname)/description/urdf/mount.urdf"  />
    <param name="$(arg mount_ns)_description" textfile="$(arg urdf_file)"/>

        <remap from="robot_description" to="$(arg mount_ns)_description"/>
        <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
            <param name="tf_prefix" value="$(arg mount_ns)"/>
            <param name="robot_description" textfile="$(dirname)/description/urdf/mount.urdf"/>
        </node>
</launch>